* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
}

/**/
.navbar-toggler {
  padding: 0 !important;
  border: none !important;
}

.navbar-toggler:focus,
.form-control:focus {
  box-shadow: none !important;
}
